// .container {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 100vh;
//     width: 150px;
//     height: 150px;
//     background-color: #f5f5f5;
//     border-radius: 5px;
// }

// .centered-image {
//     text-align: center;
// }

// .centered-image img {
//     max-width: 100%;
//     max-height: 100%;
// }

.container {
    position: relative;
    width: 150px;
    height: 150px;
    background-color: #f5f5f5;
    border-radius: 15px;
}

.container:hover {
    cursor: pointer;
    background-color: #e0e0e0;
}

.centered-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.repeat-image {
    position: absolute;
    top: 10px;
    right: 10px;
    transform: translate(0, 0);
}

.workout-name {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 15px;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.workout-date {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 12px;
    width: 100%;
    text-align: center;
    font-weight: 500;
}