<div class="home-container">
    <div class="workouts">
        <div class="today-workouts">
            <mat-card>
              <mat-card-title>Today Workouts</mat-card-title>
              <mat-card-content>
                  <div class="workout-box-container">
                      <!-- <app-workout-box *ngFor="let workout of workouts" [workout]="workout"></app-workout-box> -->
                      <app-workout-box></app-workout-box>
                      <app-workout-box></app-workout-box>
                      <app-workout-box></app-workout-box>
                      <app-workout-box></app-workout-box>
                      <app-workout-box></app-workout-box>
                      <app-workout-box></app-workout-box>
                      <app-workout-box></app-workout-box>
                      <app-workout-box></app-workout-box>
                      <app-workout-box></app-workout-box>
                      <app-workout-box></app-workout-box>
                      <app-workout-box></app-workout-box>
                      <app-workout-box></app-workout-box>
                      <app-workout-box></app-workout-box>
                      <app-workout-box></app-workout-box>
                      <app-workout-box></app-workout-box>
                      <app-workout-box></app-workout-box>
                      <app-workout-box></app-workout-box>
                      <app-workout-box></app-workout-box>
                      <app-workout-box></app-workout-box>
                      <app-workout-box></app-workout-box>
                      <app-workout-box></app-workout-box>
                  </div>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="this-week-workouts">
            <mat-card>
              <mat-card-title>This Week Workouts</mat-card-title>
              <mat-card-content>
                  <div class="workout-box-container">
                      <!-- <app-workout-box *ngFor="let workout of workouts" [workout]="workout"></app-workout-box> -->
                      <app-workout-box></app-workout-box>
                      <app-workout-box></app-workout-box>
                      <app-workout-box></app-workout-box>
                      <app-workout-box></app-workout-box>
                      <app-workout-box></app-workout-box>
                      <app-workout-box></app-workout-box>
                      <app-workout-box></app-workout-box>
                      <app-workout-box></app-workout-box>
                      <app-workout-box></app-workout-box>
                      <app-workout-box></app-workout-box>
                      <app-workout-box></app-workout-box>
                      <app-workout-box></app-workout-box>
                      <app-workout-box></app-workout-box>
                      <app-workout-box></app-workout-box>
                      <app-workout-box></app-workout-box>
                      <app-workout-box></app-workout-box>
                      <app-workout-box></app-workout-box>
                      <app-workout-box></app-workout-box>
                      <app-workout-box></app-workout-box>
                      <app-workout-box></app-workout-box>
                      <app-workout-box></app-workout-box>
                  </div>
              </mat-card-content>
            </mat-card>
          </div>
    </div>

    <div class="profile-statistics">
      <mat-card>
        <mat-card-title>Profile</mat-card-title>
      </mat-card>
    </div>
  </div>
  