/* register.component.scss */

mat-card {
    max-width: 400px;
    margin: auto;
    margin-top: 50px;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center; 
  }
  